<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Project Name</title>
    <meta name="description" content="Project Description">
    <meta name="author" content="Justine Quiapos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
    <header>
        <nav class="topnav">
            <ul>
                <li class="home-icon"><a href="../templates/index.htm">ArtBox</a></li>
                <li><a href="../templates/login.html">Log in</a></li>
            </ul>
        </nav>
    </header>
    <!-- home container id starts -->
    <div id="home-container">


                <!-- illustration sub id starts -->
        <div id="illustration">
            <img src="../drawing.png" width=350 height=350>
        </div>
        <!-- illustration sub id ends -->
        <!-- inner sub id starts -->
        <div id="inner">
            <h1>ArtBox - Perl Showcase Website</h1>
            <p class="subtitle">Box up your work and showcase it!</p>
            <a href="signup.html" class="cta">Sign up</a>
        </div>
        <!-- inner sub id ends -->

    </div>
    <!-- home container id ends -->
    <div id="ghostFooterbtn">
        <h4>Designed by Justine Quiapos</h4>
    </div>
</body>
</html>