<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>User Profile</title>
    <meta name="description" content="Project Description">
    <meta name="author" content="Justine Quiapos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
    <header>
        <nav class="topnav">
            <ul>
                <li class="home-icon"><a href="../templates/index.htm">Project Name</a></li>
                <li><a href="../templates/login.html">Log in</a></li>
            </ul>
        </nav>
    </header>


    <form action="../static/cgi-bin/scripts/signup.cgi" style="border:1px solid #ccc">
            <div class="container">
              <h1>Sign Up</h1>
              <p>Please fill in this form to create an account.</p>
              <hr>
          
              <input type="text" placeholder="Username" name="username" required>                       
              <input type="text" placeholder="Email" name="email" required>
              <input type="password" placeholder="Password" name="psw" required>
              <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
          
              <div class="clearfix">
                <button type="submit" class="signupbtn">Sign Up</button>
              </div>
            </div>
          </form>
    <footer>
        
    </footer>
</body>
</html>
